/* FONT */

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'BonmyeongjoSourceHanSerif';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'Pretendard';
    letter-spacing: -0.05em;
}

body {
    background-color: #2E313D;
    /* background-color: #d5d5d5; */
    margin: 0;
    min-width: 800px;
    justify-content: center;
    /* 가로 가운데 */
}

/* 안쪽 여백 공용 */
.inner {
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}


/* 색깔 모음집 */







/* GongGy.html=============================================== */


.page1 {
    /* width: 500px;
    height: 700px;
    border: 1px solid rgb(224, 224, 224);
    margin: auto; */
}

.gong {
    width: 400px;
    height: 60px;
    border: 1px solid rgb(219, 22, 22);
    margin: auto;

}

.page1>.gong>button,
.page2>.gong>button,
.page3>.gong>button {
    width: 400px;
    height: 60px;
}

.navigation {
    display: flex;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    /* 세로 가운데 (높이 있을 때) */
    margin-top: 20px;
}

.searchbox {
    display: flex;
    justify-content: center;
    /* 가로 가운데 */
    align-items: center;
    margin-top: 20px;
}


.Qimage {
    background-image: url(../looflex/resource/icon-magnifier.png);
    width: 30px;
    height: 30px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 5px;
    border-radius: 5px;
    filter: invert(100);
}

.showG {
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.Gbutton {
    width: 30px;
    height: 20px;
    background-color: #2E313D;
    color: white;
}






/* zazuhanun   자주하는 질문 css 시작VVVVVVVVVVVVVVVV */
/* 자주하는 질문 그 제목 관리 */
.zemok {
    text-align: center;
    border: 1px solid yellow;
    width: 800px;
    height: 200px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

main {
    width: 800px;
    /* 원하는 너비 */
    margin: 0 auto;
    /* 좌우 여백 자동 → 가로 가운데 */
    /* background: #444; */
    /* 확인용 배경 */
    font-size: 30px;
}

.zazu {
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid yellow;
    
}

/* 자주하는 질문 목록에 대한 설정. */
.faq-item {
    flex: 1;
    height: 50px;
    border: 1px solid yellow;
    text-align: center;

}
.faq-item>button{
    font-size: 25px;
    /* 서비스관련 이용방법 판권 기술 계정 글자크기. */
}

.solution {
    height: auto;
    border: 1px solid yellow;

}

.faq-item>button {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub_zazu{
    background-color: rgb(106, 106, 222);
}

.sub>span{
    background-color: white;
}






/* munyisahang.html===================================================== */
.uppestside,
.classification,
.searchbox_m,
.page_m {
    display: flex;

}

.sahang {
    width: 800px;
    /* 원하는 너비 */
    margin: 0 auto;
    /* 좌우 자동 → 가로 중앙 정렬 */
    background: #f9f9f9;
    /* 확인용 배경 */
    border: 1px solid #ccc;
    padding: 20px;
}

.uppestside {
    width: 800px;
    height: auto;
}

/*             <div class="left_m">
                묻고 답하기
            </div>
            <div class="right_m">
                답변 상태 */
.left_m {
    text-align: left;
    font-size: 30px;
}

.left_m {
    text-align: right;
    /* 이건 왜 작동이 안되고 있는거냐 ㅅㅂ */
    font-size: 23px;
}

.classification {
    height: 70px;
}

.dapbyeon_m,
.zaksung_who,
.zaksung_date {
    /* 밑에 올 컨텐츠들도 이걸로 관리할것. */
    width: 12%;
}

.question_m {
    /* 밑에 올 컨텐츠들도 이걸로 관리할것. */

    width: 64%;
}

.page_m,
.searchbox_m {
    margin: 0 auto;

}

.basicshow {
    height: 100px;
    border: 1px solid red;
}

.onclickshow {
    height: 100px;
    border: 1px solid red;
}








/* HEADER */

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid #F6F6F6;
    background-color: #f6f6f61e; */
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
    z-index: 99;

    display: flex;
    align-items: center;

    backdrop-filter: blur(10px);
}

.logo>img {
    width: 100px;
    padding: 22px 40px;
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.8));
}

.category {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 600;

    text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
}

.category>div:nth-of-type(1)::after,
.category>div:nth-of-type(2)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #ccc;
    margin-left: 30px;
    vertical-align: middle;
}

.category>div:nth-of-type(3) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.category>div:nth-of-type(3)>img {
    width: 13px;
    filter: invert(100);
}

.category>div {
    transition: 0.2s ease;
}

.category>div:hover {
    cursor: pointer;
    color: #F6F6F6;
}

.search-bar {
    display: flex;
    gap: 12px;
    margin-left: auto;
    margin-right: 30px;
}

.search-input {
    box-sizing: border-box;
    background-color: #75757500;
    outline: none;
    border: 1px solid white;
    padding: 5px 0px 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

.search-input:focus {
    border: 1px solid #0088FD;
}

.search-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255,0.3); */
    transition: 0.2s ease;
    border: 1px solid #0088FD;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.search-icon-img {
    background-image: url(../looflex/resource/icon-magnifier.png);
    width: 30px;
    height: 30px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 5px;

    filter: invert(100);
}

.search-icon:hover {
    box-shadow: none;
    background-color: #0088FD;
}

.my-page-box>button {
    padding: 8px;
    margin-left: auto;
    margin-right: 30px;

    border: 1px solid #0088FD;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0);
    color: white;

    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.4);

    transition: 0.2s ease;
}

.my-page-box>button:hover {
    cursor: pointer;
    background-color: #0088FD;
    box-shadow: none;
}