
* {
    font-family: 'Pretendard';
    letter-spacing: -0.05em;
    border-radius: 5px;
    color: #f6f6f6;
}


body {
    background-color: #2E313D;
    /* background-color: #d5d5d5;  */
    margin: 0;
    min-width: 800px;
}

body > img {
    width: 100px;
    margin: 30px;
}

input:focus {
    outline: 2px solid #0088FD;
}

.inner{
    width: 500px;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px 50px 50px;
    box-sizing: border-box;
    border-radius: 5px;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    
}

h3{
    font-size: 30px;
    margin: 20px 50px 40px 50px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.inner .info .text{
    display: flex;
    
}

.inner .info .text1{
    margin: 20px 0;
    font-weight: 700;
    font-size: 18px;
}

.inner .info .text2{
    display: flex;
    margin: 0 0 10px 0;
    color: red;
    font-size: 13px;
}

.inner .info input{
    border: none;
    width: 100%;  
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;

    background-color: transparent;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

.inner .info .btn{
    border: none;
    width: 100%;  
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #0088FD;
    font-size: 15px;
    font-weight: 600;

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);

    transition: 0.2s ease;
}

.inner .info .btn:hover{
    background-color: #016ecd;
}



