/* FONT */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'BonmyeongjoSourceHanSerif';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'Pretendard';
    letter-spacing: -0.05em;
    border-radius: 5px;

    color: #f6f6f6;
}

input {
    background-color: transparent;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

body {
    background-color: #2E313D;
    /* background-color: #d5d5d5; */
    margin: 0;
    margin-bottom: 30px;
    min-width: 800px;
}

body > img {
    width: 100px;
    margin: 30px;
}

.container{
    display: flex;
    justify-content: center;
}

.inner{
    width: 400px;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */

    text-align: center;
    border: 1px solid black;


    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 20px 20px 20px;
}

h2{
    font-size: 30px;
    font-weight: 700; 
    color: #f6f6F6;

    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

h3 {
    color: #f6f6F6;
}

.inner .login-box input{
    border: 1px solid #2E313D;

    width: 100%;  
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner .login-box .input-idbox{
    position: relative;
}

#btn{
    background-color: #0088FD;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    height: 35px;
    width: 80px;
    position: absolute;
    top: 65%;
    left: 88%;
    transform:translate(-50%, -50%);

    border: none;

    transition: 0.2s ease;
}

#btn:hover{
    background-color: #006dcd;
    cursor: pointer;
}

.inner .login-box .text{
    margin: 5px 0px 15px 0px;
    display: flex;
    justify-content: left;

    color: #f6f6f6;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.inner .login-box .text2{
    color: red;
    font-size: 13px;
    display: flex;
    justify-content: left;
    padding-left: 4px;
}

.inner .personal-info .numner-box{
    display: flex;
    text-align: center;
}

.inner .personal-info .numner-box span{
    padding-top: 11px;
    margin: 0 5px;
}

.inner .personal-info{
    margin-top: 20px;
}

.inner .personal-info .text2{
    margin: 5px;
    display: flex;
    justify-content: left;

    color: #f6f6F6;
    font-weight: 600;
    margin: 16px 0px 13px 0px;
}

.inner .personal-info input[type = text]{
    height: 40px;
    border: 1px solid black;
    width: 100%;  
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner .personal-info input[type = date]{
    height: 40px;
    border: 1px solid black;
    width: 100%;  
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner .personal-info input[type = email]{
    height: 40px;
    border: 1px solid black;
    width: 100%;  
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.inner .personal-info .gender-box{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    padding-left: 4px;
}

.inner .personal-info .gender-box > div {
    color: #f6f6f6;
}

.inner .personal-info .sign_Up{
    width: 100%; 
    height: 40px;
    margin: 20px 0 0 0;
    border: 1px solid #2E313D;
    position: relative;
    font-size: 20px;
    color: #f6f6F6;

    font-weight: 600;

    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);

    background-color: #0088FD;
}

.inner .personal-info .sign_Up:hover{
    background-color: #006dcd;
    cursor: pointer;
}

html {
    /* scrollbar-gutter: stable; */
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #23252f;
}
::-webkit-scrollbar-thumb {
    background: #0087fd7a;  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #006ccb7a; 
}

input:focus {
    outline: 2px solid #0088FD;
}